
body {
    background-color: beige;
    padding: 50px;
}

div.celda {
    width: 45px;
    height: 45px;
    margin: 3px;
    border-radius: 4px;
    background-color: green;
    display: inline-block;
    text-align: center;
    line-height: 45px;
    vertical-align: middle;
}

div.celda.mina {
    background-color: red;
}

div.celda.oculta, div.celda.mina.oculta {
    color: transparent;
    background-color: grey;
    cursor: pointer;
}

